body{
    background-image: url("imges/20210330_123729133_iOS.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    
}

.navbar{
   /* position: absolute; */
   width: 100%;
}

.color{
    max-height: 20px;
    
    
    
    
    
;
}
.nav-i{
    padding-left: 500px;
    
   
    

    
   
}

.button{
    padding: 27px;
    padding-left: 150px;
    
    
}

.card-deck{
    padding-top: 200px;
}
.card{
    margin-top: 10px;
}





    



